* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 41;
    width: 163;
    display: flex;
    justify-content: flex-start;
}

.imgtopo {

    margin: 0;
}
.compass {
    margin-left: 0;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 273px;
    font-size: 17px;
    font-weight: 600;
    word-spacing: 0.7em;
    align-items: center;
}

.lista {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.lista:hover{
    color: #B0B0B0;
}

.icons {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-left: 320px;
    margin-right: 22px;
    height: 20px;
    width: 20px;

}

.icons{
    display: flex;
    gap: 18px;
}

section{
    display: flex;
}

.imagemfundo {
    background-image: url(imagens/center.png);
    width: 1440px;
    height: 316px;
    background-position: center;
    display: flex;
}

.boxtext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.produtos {
    
    display: flex;

}

.containers {
    display: flex;
    margin-left: 45px;
    justify-content: space-between;
    margin-top: 20px;
    
}

.container1, .container2, .container3, .container4 {
    display: grid;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    width: 289px;
    height: 446px;
    flex-grow: 1;
}

.container1 {
    display: flex;
    flex-direction: column;
    background-clip: content-box;
    
}

.container2 {
    
}

.container3 {

    
}

.container4 {

    
}

.textcontainer {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 20px;
    gap: 20px;
    background-color: #F4F5F7;
    width: 285px;
    padding-bottom: 15px;
}

.stysh {
    color: #898989;
    font-size: 16px;
}

.sylt {
    color: #3A3A3A;
    font-size: 24px;
}

.p1 {
    color: #3A3A3A;
    font-size: 20px;
}

.priscado {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.preçoriscado {
    font-size: 16px;
    color: #B0B0B0;
    text-decoration:line-through;
}

.filter {
    width: 1440px;
    height: 100px;
    background-color: #F9F1E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.filtro {
    margin-left: 40px;
    font-size: 20px;
    display: flex;
    padding: 30px;

}

.showing {
    padding-left: 40px;
    font-size: 16px;
    display: flex;
}

.bordashowing {
    border-left: 2px solid #9F9F9F;
    height: 37px;
    display: flex;
    align-items: center;
}

.showend {
    font-size: 20px;
    gap: 5px;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.começofilter {
    display: flex;
    align-items: center;
}