@media (max-width: 1024px) {
    .container1, .container2, .container3, .container4 {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
    }

    .containers {
        justify-content: center;
    }

    .container1, .container2, .container3, .container4 {
        width: calc(100% - 20px);
    }

    .icons {
        margin-left: 0;
    }
}
